<dl>
  {%- if address.name -%}
    <dt class="font-bold">{{ address.name }}</dt>
  {%- endif -%}

  {%- if address.company -%}
    <dt>{{ address.company }}</dt>
  {%- endif -%}

  <dd>
    <address>
      <p>
        {{- address.address1 -}}
        {%- if address.address2 -%}
          <br> {{ address.address2 }}
        {%- endif -%}
      </p>

      <p>
        {{- address.city }},
        {% if address.province_code -%}
          {{ address.province_code }}
        {%- endif -%}
        {% if address.country_code -%}
          {{ address.country_code }}
        {%- endif -%}
        {{ address.zip -}}
      </p>
    </address>
  </dd>

  {%- if address.phone -%}
    <dd><a class="link" href="tel:{{ address.phone }}">{{ address.phone }}</a></dd>
  {%- endif -%}
</dl>
