{%- assign excerpt = article.excerpt_or_content | strip_html | truncatewords: 30 -%}

<li>
  <a class="group grid gap-2" href="{{ article.url }}">
    <figure class="overflow-hidden">
      {%- if article.image -%}
        {{ article.image
          | image_url: width: 600, height: 400
          | image_tag: class: 'w-full transition-transform group-hover:scale-110', loading: 'lazy'
        }}
      {%- else -%}
        <div class="grid place-content-center p-4 aspect-square bg-canvas-subdued text-ink-subdued">
          <p class="line-clamp-3">
            {{ article.metafields.global.description_tag.value
              | default: excerpt
              | strip_html
              | truncatewords: 30
            }}
          </p>
        </div>
      {%- endif -%}
    </figure>

    <dl class="grid items-center gap-2">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'excerpt' -%}
            <dd class="{{ block.settings.tailwind | default: 'text-sm line-clamp-3' }}">{{ excerpt }}</dd>

          {%- when 'comments' -%}
            {%- if blog.comments_enabled? -%}
              <dd class="{{ block.settings.tailwind | default: 'text-xs' }}">
                {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment', 'comments' }}
              </dd>
            {%- endif -%}

          {%- when 'date-and-author' -%}
            <dd class="{{ block.settings.tailwind | default: 'text-xs' }}">
              <time datetime="{{ article.published_at }}">
                {{ article.published_at | date: settings.date_format }}
              </time>
              {{ block.settings.separator | default: '·' }}
              by {{ article.author }}
            </dd>

          {%- when 'hr' -%}
            <hr />

          {%- when 'read_time' -%}
            <dd class="{{ block.settings.tailwind | default: 'text-xs' }}">
              {{ article.content | strip_html | split: ' ' | size | divided_by: 200 | ceil }} min read
            </dd>

          {%- when 'tags' -%}
            {%- if article.tags != nil -%}
              <dd class="flex flex-wrap gap-x-2 {{ block.settings.tailwind | default: 'text-xs' }}">
                {%- for tag in article.tags -%}
                  <span class="hashtag">{{ tag }}</span>
                {%- endfor -%}
              </dd>
            {%- endif -%}

          {%- when 'title' -%}
            <dt class="h3 group-hover:underline">{{ article.title }}</dt>

        {%- endcase -%}
      {%- endfor -%}
    </dl>
  </a>
</li>
