<li>
  <a class="group grid gap-2" href="{{ collection.url }}">
    <figure class="overflow-hidden">
      {{ collection.featured_image
        | image_url: width: 500, height: 500
        | image_tag: class: 'w-full group-hover:scale-110 transition-transform', loading: 'lazy'
      }}
    </figure>

    <dl class="grid gap-2">
      <dt class="h3 group-hover:underline">{{ collection.title }}</dt>
      <dd class="text-sm">
        {{- collection.all_products_count }}
        {{ collection.all_products_count | pluralize: 'product', 'products' -}}
      </dd>
    </dl>
  </a>
</li>
