{% form 'contact', class: class %}
  {{ form.errors | default_errors }}

  <div class="with-label">
    <label for="contact-name">Name</label>
    <input class="input w-full" id="contact-name" name="contact[name]" value="{{ form.author }}" type="text" placeholder="John Smith" autocomplete="name" />
  </div>

  <div class="with-label">
    <label for="contact-email">Email</label>
    <input class="input w-full" id="contact-email" name="contact[email]" value="{{ form.email }}" type="email" placeholder="john@example.com" autocomplete="email" required />
  </div>

  <div class="with-label">
    <label for="contact-body">Message</label>
    <textarea class="input w-full" id="contact-body" name="contact[body]" placeholder="Message" required>{{ form.body }}</textarea>
  </div>

  <div>
    <button class="action">
      {{- submit_label | default: 'Submit' -}}
    </button>
  </div>
{% endform %}
