<form
  class="flex {% if stacked %}flex-col gap-y-4{% endif %} gap-x-8 overflow-x-auto <sm:full-width <sm:px-4"
  oninput="this.querySelector('[data-filters-actions]').removeAttribute('hidden')"
>
  {%- if results.terms -%}
    <input type="hidden" name="q" value="{{ results.terms | escape }}">
    <input name="options[prefix]" type="hidden" value="last">
  {%- endif -%}

  {%- for filter in results.filters -%}
    <details class="with-accordion whitespace-nowrap" {% if opened %}open{% endif %}>
      <summary class="flex items-center gap-2">
        <span class="with-icon grow technical text-xs">
          <span class="grow">{{ filter.label }}</span>
          {% render 'icon' with 'chevron-right' %}
        </span>

        {%- assign active_values = filter.active_values | where: 'active' -%}
        {%- if active_values.size > 0 -%}
          <a class="text-alert [&_svg]:h-[1.2em]" href="{{ filter.url_to_remove }}" title="Remove filter">
            {% render 'icon' with 'circle-cancel' %}
          </a>
        {%- endif -%}
      </summary>

      <fieldset class="mt-1">
        <legend class="sr-only">{{ filter.label }}</legend>

        {%- case filter.type -%}
          {%- when 'boolean' or 'list' -%}
            <div class="grid">
              {%- for value in filter.values -%}
                <label class="flex gap-[.5ch]">
                  <input
                    name="{{ value.param_name }}"
                    id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                    value={{ value.value }}
                    type="checkbox"
                    {% if value.active %}checked{% endif %}
                    {% if value.count == 0 and value.active == false %}disabled{% endif %}
                  />
                  <span class="grow {% if value.count == 0 and value.active == false %}text-ink-subdued{% endif %}">{{ value.label }}</span>
                  <small class="self-center ml-[.5ch] tabular-nums text-right text-ink-subdued">{{ value.count }}</small>
                </label>
              {%- endfor -%}
            </div>
          {%- when 'price_range' -%}
            <div class="grid gap-2">
              <label class="flex items-center">
                <span class="grow technical text-xs">Min</span>
                <div>
                  <span class="input-number-label bg-canvas-subdued">{{ cart.currency.symbol }}</span>
                  <input
                    class="input-number w-[7em]"
                    name="{{ filter.min_value.param_name }}"
                    id="{{ filter.label | escape }}-gte"
                    {% if filter.min_value.value %}
                      value="{{ filter.min_value.value | divided_by: 100 }}"
                    {% endif %}
                    type="number"
                    min="0" max="{{ filter.range_max | divided_by: 100 }}"
                    placeholder="0"
                  />
                </div>
              </label>
              <label class="flex items-center">
                <span class="grow technical text-xs">Max</span>
                <div>
                  <span class="input-number-label bg-canvas-subdued">{{ cart.currency.symbol }}</span>
                  <input
                    class="input-number w-[7em]"
                    name="{{ filter.max_value.param_name }}"
                    id="{{ filter.label | escape }}-lte"
                    {% if filter.max_value.value %}
                      value="{{ filter.max_value.value | divided_by: 100 }}"
                    {% endif %}
                    type="number"
                    min="0" max="{{ filter.range_max | divided_by: 100 }}"
                    placeholder="{{ filter.range_max | divided_by: 100 }}"
                  />
                </div>
              </label>
            </div>
        {%- endcase -%}
      </fieldset>
    </details>

    {%- if stacked -%}
      {%- unless forloop.last -%}<hr>{%- endunless -%}
    {%- endif -%}
  {%- endfor -%}

  <div data-filters-actions class="sticky -right-4 md:right-0 z-[1] bg-white/50 backdrop-blur-sm" hidden>
    <button class="w-full h-full action-secondary animate-pulse" type="submit">
      Apply
    </button>
  </div>
</form>
