<nav
  class="
    sticky bottom-0 flex items-center justify-center gap-x-4 [&_svg]:w-[1.5em] anim-fade-l
    <sm:full-width <sm:p-4 <sm:bg-[var(--canvas)]
    sm:gap-x-2
  "
  style="grid-area: actions;"
>
  <a href="{{ routes.search_url }}" aria-label="Search">
    {% render 'icon' with 'search' %}
  </a>

  {%- if shop.customer_accounts_enabled -%}
    {%- if customer -%}
      <a href="{{ routes.account_url }}" aria-label="Account">
        {% render 'icon' with 'customers-filled' %}
      </a>
    {%- else -%}
      <a href="{{ routes.account_login_url }}" aria-label="Log in">
        {% render 'icon' with 'customers' %}
      </a>
    {%- endif -%}
  {%- endif -%}

  <a class="flex items-center gap-3" href="{{ routes.cart_url }}" aria-label="Cart">
    <div class="relative">
      {% render 'icon' with 'cart' %}
      {%- unless cart.empty? -%}
        <span
          class="
            absolute top-0 right-0 -translate-y-1/2 translate-x-1/2
            grid place-content-center rounded-full bg-primary
            {% if section.settings.show_cart_item_count and cart.item_count < 100 %}
              w-[1.3em] text-primary-contrasting text-xs
            {% else %}
              w-2 aspect-square text-[0px]
            {% endif %}
          "
          aria-label="{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} in cart"
        >
          {{- cart.item_count -}}
        </span>
      {%- endunless -%}
    </div>

    {%- unless cart.empty? -%}
      {%- if section.settings.show_cart_subtotal -%}
        <div class="grid">
          <small class="ml-auto technical text-[8px]">Subtotal</small>
          <strong class="price text-sm">{{ cart.total_price | money }}</strong>
        </div>
      {%- endif -%}
    {%- endunless -%}
  </a>
</nav>
