{%- liquid
  assign megamenus = section.blocks | where: 'type', 'megamenu' | map: 'settings' | map: 'title'
  assign featured_links = section.blocks | where: 'type', 'featured_link' | map: 'settings'
-%}

<nav class="flex <md:flex-col md:justify-center gap-x-8" style="grid-area: menu;">
  {%- for link in section.settings.menu.links -%}
    {%- case link.levels -%}
      {%- when 1 or 2 -%}
        {%- if megamenus contains link.title -%}
          {% comment %} Megamenu {% endcomment %}
          <details class="with-accordion">
            <summary class="with-icon w-full <md:py-1 [&_svg]:rotate-90">
              <span class="grow">{{ link.title }}</span>
              {% render 'icon' with 'chevron-right' %}
            </summary>
            <div class="megamenu-contents inset-x-0">
              <ul class="md:section md:py-4 flex <md:flex-col flex-wrap gap-y-4 gap-x-8 md:justify-center md:items-start">
                {%- for child_link in link.links -%}
                  {%- case child_link.levels -%}
                    {%- when 1 -%}
                      {% comment %} Megamenu > Dropdown {% endcomment %}
                      <li>
                        <div class="mb-1">{{ child_link.title | link_to: child_link.url, class: 'technical text-xs' }}</div>
                        <ul>
                          {%- for grandchild_link in child_link.links -%}
                            <li>{{ grandchild_link.title | link_to: grandchild_link.url, class: 'hover:underline' }}</li>
                          {%- endfor -%}
                        </ul>
                      </li>

                    {%- when 0 -%}
                      {%- for featured_link in featured_links -%}
                        {%- if featured_link.title == child_link.title -%}
                          {% comment %} Megamenu > Featured link {% endcomment %}
                          <li>
                            <a
                              class="group grid gap-2 <md:grid-cols-[100px,1fr] items-center md:text-center font-bold"
                              href="{{ child_link.url }}"
                            >
                              <figure class="overflow-hidden bg-canvas-subdued">
                                {{ featured_link.image
                                  | default: child_link.object.featured_image
                                  | image_url: width: 300, height: 200
                                  | image_tag: class: 'md:max-w-[200px] group-hover:scale-110 transition-transform', loading: 'lazy'
                                }}
                              </figure>

                              <div>{{ child_link.title }}</div>
                            </a>
                          </li>

                        {%- else -%}
                          {% comment %} Megamenu > basic link {% endcomment %}
                          <li>{{ child_link.title | link_to: child_link.url, class: 'hover:underline' }}</li>

                        {%- endif -%}
                      {%- endfor -%}

                  {%- endcase -%}
                {%- endfor -%}
              </ul>
            </div>
          </details>

        {%- else -%}
          {% comment %} Dropdown {% endcomment %}
          <details class="with-accordion relative">
            <summary class="with-icon w-full <md:py-1 [&_svg]:rotate-90">
              <span class="grow">{{ link.title }}</span>
              {% render 'icon' with 'chevron-right' %}
            </summary>
            <ul class="dropdown-contents -left-4 w-max md:p-4">
              {%- for child_link in link.links -%}
                <li>{{ child_link.title | link_to: child_link.url, class: 'hover:underline' }}</li>
              {%- endfor -%}
            </ul>
          </details>

        {%- endif -%}

      {%- when 0 -%}
        {% comment %} Basic top-level link {% endcomment %}
        {{ link.title | link_to: link.url, class: 'block <md:py-1' }}

    {%- endcase -%}
  {%- endfor -%}
</nav>
