<li class="line-item grid grid-cols-[auto,1fr,auto] gap-4 pb-4 border-b border-stroke [&+&]:mt-4">
  <figure class="group relative self-start w-[80px] md:w-[100px] bg-canvas-subdued overflow-hidden">
    {{ line_item.image
      | image_url: width: 200, height: 200
      | image_tag: class: 'group-hover:scale-110 transition-transform', loading: 'lazy'
      | link_to: line_item.url
    }}
  </figure>

  <dl class="grid gap-3 self-center justify-start">
    <dt class="flex flex-wrap gap-x-4">
      <a class="h3 text-lg hover:underline" href="{{ line_item.url }}">
        {{ line_item.product.title }}
      </a>

      {%- unless line_item.product.has_only_default_variant -%}
        <div class="flex flex-wrap items-center gap-[.25em]">
          {%- for option in line_item.options_with_values -%}
            <small class="hashtag text-xs" aria-label="{{ option.name }}">{{ option.value }}</small>
          {%- endfor -%}
        </div>
      {%- endunless -%}
    </dt>

    <dd class="flex gap-1">
      <div>
        <strong class="price">{{ line_item.final_price | money }}</strong>
        {%- render 'unit-price', measurement: line_item.unit_price_measurement %}
        {%- if cart.taxes_included -%}
          <small>(Taxes incl.)</small>
        {%- endif -%}
      </div>

      <label aria-label="Quantity">
        {% render 'quantity-selector'
          name: 'updates[]'
          value: line_item.quantity
          min: 0
          readonly: is_order
        %}
      </label>
    </dd>

    {% comment %} Discounts {% endcomment %}
    {%- if line_item.discounts.size > 0 -%}
      <dt class="relative technical text-[x-small] ml-2">Discounts</dt>
      <dd class="-mt-5 p-2 bg-amber-400/20">
        {%- for discount in line_item.discounts -%}
          <dl class="grid grid-cols-[1fr,auto] gap-x-4 items-center">
            <dt>{{ discount.title }}</dt>
            <dd class="price-negative text-right">{{ discount.amount | money }}</dd>
          </dl>
        {%- endfor -%}
      </dd>
    {%- endif -%}

    {% comment %} Selling plan {% endcomment %}
    {%- if line_item.selling_plan_allocation -%}
      <dt class="relative technical text-[x-small] ml-2">Selling plan</dt>
      <dd class="-mt-5 p-2 bg-green-400/20">
        <div>{{ line_item.selling_plan_allocation.selling_plan.name }}</div>
      </dd>
    {%- endif -%}

    {% comment %} Properties {% endcomment %}
    {%- assign property_size = line_item.properties | size -%}
    {%- if property_size > 0 -%}
      <dt class="relative technical text-[x-small] ml-2">Properties</dt>
      <dd class="-mt-5 p-2 grid gap-1 bg-canvas-subdued">
        {%- for property in line_item.properties -%}
          <dl class="grid grid-cols-[auto,1fr] gap-x-2 items-center text-xs">
            <dt class="text-ink-subdued">{{ property.first }}:</dt>
            <dd>{{ property.last }}</dd>
          </dl>
        {%- endfor -%}
      </dd>
    {%- endif -%}
  </dl>

  {%- unless is_order -%}
    <a
      class="self-stretch with-icon ghost text-sm hover:text-red-600 hover:bg-red-600/10 active:bg-red-600/20"
      href="{{ line_item.url_to_remove }}"
      aria-label="Remove {{ line_item.title }} from cart"
    >
      {%- render 'icon' with 'delete' -%}
    </a>
  {%- endunless -%}
</li>
