<tr class="group hover:bg-canvas-subdued">
  <td class="bg-canvas/80 backdrop-blur-sm group-hover:bg-canvas-subdued/80 sticky left-0">
    <a class="link-subdued tabular-nums" href="{{ order.customer_url }}">{{ order.name }}</a>
  </td>

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'created_at' -%}
        <td><time datetime="{{ order.created_at }}">{{ order.created_at | date: settings.date_format }}</time></td>

      {%- when 'item_count' -%}
        <td>{{ order.item_count }} {{ order.item_count | pluralize: 'item', 'items' }}</td>

      {%- when 'financial_status_label' -%}
        <td>{{ order.financial_status_label }}</td>

      {%- when 'status' -%}
        <td>
          <div class="flex flex-wrap gap-x-[.5em] gap-y-px justify-center">
            {%- if order.cancelled -%}
              Canceled
            {%- else -%}
              {{ order.fulfillment_status_label }}
            {%- endif -%}
          </div>
        </td>

      {%- when 'total_price' -%}
        <td class="price">{{ order.total_price | money }}</td>

    {%- endcase -%}
  {%- endfor -%}

</tr>
