{%- liquid
  capture unit_price
    render 'unit-price', measurement: product.variants.first.unit_price_measurement
  endcapture
-%}

<li class="grid gap-2">
  <a class="group grid gap-2" href="{{ product.url | within: collection }}">
    <figure class="bg-canvas-subdued overflow-hidden">
      {{ product.featured_image
        | image_url: width: 500, height: 500
        | image_tag: class: 'w-full group-hover:scale-110 transition-transform', loading: 'lazy'
      }}
    </figure>

    <div class="h3 group-hover:underline">{{ product.title }}</div>
  </a>

  <div class="text-sm">
    {%- if product.price_varies -%}From{%- endif %}
    <span>
      <strong class="price">{{ product.price_min | money }}</strong>
      {{- unit_price -}}
    </span>
    {% if product.price_min < product.compare_at_price_min %}
      <span class="ml-1">
        <s class="price">{{ product.compare_at_price_min | money }}</s>
        {{- unit_price -}}
      </span>
    {% endif %}
  </div>

  {%- unless product.has_only_default_variant -%}
    <nav class="text-xs">
      <div class="technical text-[x-small]">{{ product.variants.size }} options</div>

      <div class="flex flex-wrap gap-x-[.5em]">
        {%- for product_option in product.options_with_values -%}
          {%- for value in product_option.values -%}
            {%- for variant in product.variants -%}
              {%- if variant.title contains value -%}
                <a class="hashtag hover:text-primary" href="{{ variant.url }}" aria-label="{{ product_option.name }}">
                  {{- value -}}
                </a>
                {% break %}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- unless forloop.last -%}·{%- endunless -%}
        {%- endfor -%}
      </div>
    </nav>
  {%- endunless -%}
</li>
