<ul class="carousel gap-4 md:gap-8 <md:full-width lg:grid grid-cols-4">
  {%- for product in products -%}
    <li class="grid gap-2">
      <a class="grid gap-2" href="{{ product.url }}">
        <figure>
          {{ product.featured_image
            | image_url: width: 500, height: 500
            | image_tag: class: 'w-full aspect-square object-cover', loading: 'lazy'
          }}
        </figure>

        <div>{{ product.title }}</div>
      </a>

      <div class="price text-sm">
        {%- if product.price_varies -%}From{%- endif %}
        {{ product.price_min | money }}
        {% if product.price_min < product.compare_at_price_min %}
          <s>{{ product.compare_at_price_min | money }}</s>
        {% endif %}
      </div>

      {%- unless product.has_only_default_variant -%}
        <nav class="text-sm">
          <div class="technical text-xs">{{ product.variants.size }} options</div>

          <div class="flex flex-wrap gap-x-[.5em]">
            {%- for product_option in product.options_with_values -%}
              {%- for value in product_option.values -%}
                {%- for variant in product.variants -%}
                  {%- if variant.title contains value -%}
                    <a class="hashtag hover:text-primary" href="{{ variant.url }}" title="{{ product_option.name }}">
                      {{- value -}}
                    </a>
                    {% break %}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
              {%- unless forloop.last -%}·{%- endunless -%}
            {%- endfor -%}
          </div>
        </nav>
      {%- endunless -%}
    </li>
  {%- endfor -%}
</ul>
