<figure>
  <div class="swiper product-images bg-canvas-subdued">
    <div class="swiper-wrapper items-center">
      {%- for media in product.media -%}
        {%- case media.media_type -%}
          {%- when 'image' -%}
            {%- liquid
              if forloop.first
                assign loading = 'eager'
              else
                assign loading = 'lazy'
              endif

              assign image = product.images[forloop.index0]
            -%}

            {%- capture slide -%}
              {{ image
                | image_url: width: 800, height: 800
                | image_tag: class: 'w-full object-cover', loading: loading
              }}
            {%- endcapture -%}

            <div class="swiper-slide" data-variant-id="{{ image.variants.first.id }}">
              {%- if section.settings.carousel_zoom_enabled -%}
                <div class="swiper-zoom-container">{{ slide }}</div>
              {%- else -%}
                {{ slide }}
              {%- endif -%}
            </div>

          {%- when 'external_video' -%}
            <div class="swiper-slide [&>iframe]:aspect-[{{ media.aspect_ratio }}] bg-black">
              {{ media | external_video_tag: class: 'w-full', loading: 'lazy' }}
            </div>

          {%- when 'model' -%}
            <div class="swiper-slide">
              {{ media | model_viewer_tag:
                image_size: '400x',
                class: 'swiper-no-swiping w-full min-h-[250px] md:min-h-[400px]'
              }}
            </div>

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

  <nav class="swiper product-thumbs user-select-none mt-2" hidden>
    <div class="swiper-wrapper">
      {%- for media in product.media -%}
        <div
          class="swiper-slide cursor-pointer"
          {% if media.media_type == 'model' %}title="Model view available"{% endif %}
        >
          {{ media.preview_image
            | image_url: width: 120, height: 120
            | image_tag: class: 'object-cover', loading: 'lazy'
          }}
        </div>
      {%- endfor -%}
    </div>
  </nav>
</figure>
