{%- liquid
  capture unit_price
    render 'unit-price', measurement: product.variants.first.unit_price_measurement
  endcapture

  assign percentages = ''
  if product.has_only_default_variant
    if product.price < product.compare_at_price
      assign percentage = product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | ceil
      assign percentages = percentages | append: percentage | append: ','
    endif
  else
    for variant in product.variants
      if variant.price < variant.compare_at_price
        assign percentage = variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price | ceil
        assign percentages = percentages | append: percentage | append: ','
      endif
    endfor
  endif
  assign lowest_percentage = percentages | split: ',' | uniq | sort | first
-%}

<li class="grid gap-2">
  <a class="group grid gap-2" href="{{ product.url | within: collection }}">
    <figure class="relative">
      <div class="bg-canvas-subdued overflow-hidden shadow-md" style="border-radius: var(--border-radius);">
        {%- if product.featured_image -%}
          {{ product.featured_image
            | image_url: width: 500, height: 500
            | image_tag: class: 'w-full group-hover:scale-105 transition-transform', loading: 'lazy'
          }}
        {%- else -%}
          {{ 'product-1' | placeholder_svg_tag }}
        {%- endif -%}
      </div>

      {%- if sale_badge_enabled and lowest_percentage -%}
        <span class="badge absolute -right-1 top-2">
          Save {{ lowest_percentage }}%
        </span>
      {%- endif -%}
    </figure>

    <div class="h3 group-hover:underline">{{ product.title | default: 'Product title' }}</div>
  </a>

  <div class="text-sm">
    {%- if product.price_varies -%}From{%- endif %}
    <span>
      <strong class="price">{{ product.price_min | default: 0 | money }}</strong>
      {{- unit_price -}}
    </span>
    {% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %}
      <span class="ml-1">
        <s class="price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</s>
        {{- unit_price -}}
      </span>
    {% endif %}
  </div>

  {%- unless product.has_only_default_variant -%}
    <nav class="text-xs">
      <div class="technical text-[x-small]">{{ product.variants.size | default: 'No' }} options</div>

      <div class="flex flex-wrap gap-x-[.5em]">
        {%- for product_option in product.options_with_values -%}
          {%- for value in product_option.values -%}
            {%- for variant in product.variants -%}
              {%- if variant.title contains value -%}
                <a class="hashtag hover:text-primary" href="{{ variant.url }}" aria-label="{{ product_option.name }}">
                  {{- value -}}
                </a>
                {% break %}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- unless forloop.last -%}·{%- endunless -%}
        {%- endfor -%}
      </div>
    </nav>
  {%- endunless -%}
</li>
