{%- if
  request.page_type == 'search' or
  request.page_type == 'collection' or
  request.page_type == 'product' or
  request.page_type == 'blog' or
  request.page_type == 'article' or
  request.page_type == 'page'
-%}
  <nav class="section py-4 {{ section.settings.tailwind | default: 'text-sm' }}">
    <ol class="flex" itemscope itemtype="https://schema.org/BreadcrumbList">
      {% render 'breadcrumb-item', link: routes.root_url, title: 'Home', position: 1 %}

      {%- liquid
        case template
          when 'product'
            if collection != blank
              render 'breadcrumb-item', link: collection.url, title: collection.title, position: 2
              render 'breadcrumb-item', link: product.url, title: product.title, position: 3
            else
              render 'breadcrumb-item', link: product.url, title: product.title, position: 2
            endif

          when 'article'
            render 'breadcrumb-item', link: blog.url, title: blog.title, position: 2
            render 'breadcrumb-item', link: article.url, title: article.title, position: 3

          else
            render 'breadcrumb-item', link: request.path, title: page_title, position: 2

        endcase
      -%}
    </ol>
  </nav>

  <style type="text/tailwindcss">
    #shopify-section-{{ section.id }} {
      --canvas: {{ section.settings.color_scheme.settings.canvas }};
      --ink: {{ section.settings.color_scheme.settings.ink }};
      --stroke: {{ section.settings.color_scheme.settings.stroke }};
      @apply bg-[var(--canvas)] text-[var(--ink)];
    }

    #shopify-section-{{ section.id }} li:not(:first-child)::before {
      content: '/';
      @apply text-[var(--stroke)] mx-2;
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Breadcrumbs",
  "tag": "article",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "liquid",
      "id": "tailwind",
      "label": "Tailwind classes",
      "info": "Default: \"text-sm\""
    }
  ],
  "presets": [
    {
      "name": "Breadcrumbs"
    }
  ]
}
{% endschema %}
