<header class="text-center rte">
  {%- if section.settings.content != blank -%}
    {{ section.settings.content }}
  {%- else -%}
    <h1>{{ page_title }}</h1>
  {%- endif -%}

  {%- if cart.empty? -%}
    <p>Your cart is empty</p>
  {%- endif -%}

  <p>
    <a class="action" href="{{ section.settings.empty_cta_link }}">
      {{ section.settings.empty_cta_label | default: 'Continue shopping' }}
    </a>
  </p>
</header>

{%- unless cart.empty? -%}
  {% form 'cart', cart, class: 'grid gap-8 max-w-screen-lg mx-auto' %}
    <ul class="mt-8">
      {% render 'line-item' for cart.items as line_item %}
    </ul>

    <div class="grid sm:flex flex-wrap items-start gap-8 sm:ml-auto">
      {% comment %} Cart note {% endcomment %}
      <div class="with-label">
        <label for="cart-note">Cart note</label>
        <textarea
          class="input w-full min-h-[2.5em] max-h-[12em] leading-tight"
          id="cart-note"
          name="note"
          cols="30" rows="3"
          placeholder="Cart notes"
        >{{ cart.note }}</textarea>
      </div>

      {% comment %} Cart summary {% endcomment %}
      <div class="grid gap-4">
        <dl class="grid grid-cols-[1fr,auto] gap-x-4 [&_dd]:text-right">
          {%- if cart.total_discount > 0 -%}
            <dt>Original total price</dt>
            <dd class="price">{{ cart.original_total_price | money }}</dd>

            <dt>Total discounts</dt>
            <dd class="price-negative">{{ cart.total_discount | money }}</dd>

            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <details class="col-span-full pl-2 text-sm" open>
                <summary class="technical text-[x-small]">Includes</summary>

                <div class="grid grid-cols-[1fr,auto] gap-x-4 [&_dd]:text-right">
                  {%- for discount in cart.cart_level_discount_applications -%}
                    <dt>
                      {{ discount.title }}

                      {%- if discount.value_type == 'percentage' -%}
                        <small>({{ discount.value | append: '% off' }})</small>
                      {%- endif -%}
                    </dt>
                    <dd class="price-negative">
                      {{ discount.total_allocated_amount | money }}
                    </dd>
                  {%- endfor -%}

                  {%- for line_item in cart.items -%}
                    {%- for discount in line_item.discounts -%}
                      <dt>{{ discount.title }}</dt>
                      <dd class="price-negative">{{ discount.amount | money }}</dd>
                    {%- endfor -%}
                  {%- endfor -%}
                </div>
              </details>
            {%- endif -%}

            <hr class="col-span-full my-2">
          {%- endif -%}

          <dt><b>Subtotal</b></dt>
          <dd class="price"><b>{{ cart.total_price | money }}</b></dd>
        </dl>

        <div class="grid gap-2">
          <input class="action-secondary animate-pulse" type="submit" value="Update cart" hidden />
          <button class="action" name="checkout" type="submit">
            {{ section.settings.checkout_label | default: 'Checkout' }}
          </button>
        </div>
      </div>
    </div>
  {% endform %}
{%- endunless -%}

<script defer>
  const cartForm = document.querySelector('#cart_form')

  cartForm.querySelectorAll('[name="updates[]"], [name="note"]').forEach(input => {
    input.addEventListener('input', ({ target }) => {
      target.setAttribute('value', Math.max(0, target.valueAsNumber))
      target.classList.add('border-warning', 'bg-warning/10', 'animate-pulse')
      cartForm.querySelector('input[type="submit"]').removeAttribute('hidden')
    })
  })
</script>

{% schema %}
{
  "name": "Cart form",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "checkout_label",
      "label": "Checkout label",
      "placeholder": "Checkout"
    },
    {
      "type": "header",
      "content": "Empty state"
    },
    {
      "type": "text",
      "id": "empty_cta_label",
      "label": "Empty CTA label",
      "placeholder": "Continue shopping"
    },
    {
      "type": "url",
      "id": "empty_cta_link",
      "label": "Empty CTA link"
    }
  ]
}
{% endschema %}
