<div class="section flex <md:flex-col gap-y-4 gap-x-12 items-start">
  <div class="grid gap-4 <md:mx-auto">
    <div class="max-w-[160px]">
      {%- if section.settings.logo -%}
        {{ section.settings.logo
          | image_url: width: 300
          | image_tag: class: 'max-h-[160px] object-contain', loading: 'lazy'
          | link_to: routes.root_url
        }}
      {%- else -%}
        {{ shop.name | link_to: routes.root_url, class: 'font-heading' }}
      {%- endif -%}
    </div>

    <nav class="flex flex-wrap items-center justify-center gap-x-4 [&_svg]:h-[1.5em]">
      {%- for social in shop.brand.metafields.social_links -%}
        <a href="{{ social.last }}" aria-label="{{ social.first }}">
          {%- render 'icon' with social.first -%}
        </a>
      {%- endfor -%}
    </nav>
  </div>

  {% render 'footer-menu' %}
  {% render 'newsletter-form', id: section.id, class: '<sm:w-full grid grid-cols-[1fr,auto] gap-2 items-end' %}
</div>

<style type="text/tailwindcss">
  #shopify-section-{{ section.id }} {
    --canvas: {{ section.settings.color_scheme.settings.canvas }};
    --ink: {{ section.settings.color_scheme.settings.ink }};
    --stroke: {{ section.settings.color_scheme.settings.stroke }};
    @apply bg-[var(--canvas)] text-[var(--ink)];
  }
</style>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "info": "At least one level of nesting for each top-level link recommended.",
      "default": "footer"
    },
    {
      "type": "header",
      "content": "Social links",
      "info": "Add social links from Settings > Brand > Social links. More info found [here](https://help.shopify.com/en/manual/promoting-marketing/managing-brand-assets#social-media-links)."
    }
  ]
}
{% endschema %}
