<div class="section grid gap-8">
  <div class="flex <md:flex-col gap-y-4 gap-x-12 items-start">
    <div>
      {{ shop.name | link_to: routes.root_url, class: 'font-heading' }}
    </div>

    {% render 'footer-menu' %}

    <div>
      {% render 'newsletter-form' %}
    </div>
  </div>

  <div class="flex flex-wrap <sm:flex-col items-center sm:items-end gap-4">
    <div class="sm:mr-auto <sm:order-1">
      <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url }}.</p>
    </div>

    <div>
      {%- if section.settings.show_follow_on_shop -%}
        <div>{{ shop | login_button: action: 'follow' }}</div>
      {%- endif -%}

      {% render 'language-selector' %}
    </div>
  </div>
</div>

<style type="text/tailwindcss">
  #shopify-section-{{ section.id }} {
    --canvas: {{ section.settings.color_scheme.settings.canvas }};
    --ink: {{ section.settings.color_scheme.settings.ink }};
    --stroke: {{ section.settings.color_scheme.settings.stroke }};
    @apply bg-[var(--canvas)] text-[var(--ink)];
  }
</style>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "bg-canvas text-ink",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "info": "At least one level of nesting for each top-level link recommended."
    },
    {
      "type": "checkbox",
      "id": "show_follow_on_shop",
      "label": "Show Follow on Shop",
      "default": false,
      "info": "Documentation found [here](https://help.shopify.com/en/manual/online-store/themes/customizing-themes/follow-on-shop)"
    }
  ]
}
{% endschema %}
