<div class="section flex <md:flex-col gap-y-4 gap-x-12 items-start">
  <div>
    {{ shop.name | link_to: routes.root_url, class: 'font-heading' }}
  </div>

  {% render 'footer-menu' %}
  {% render 'newsletter-form', class: '<sm:w-full grid grid-cols-[1fr,auto] gap-2 items-end' %}
</div>

<style type="text/tailwindcss">
  #shopify-section-{{ section.id }} {
    --canvas: {{ section.settings.color_scheme.settings.canvas }};
    --ink: {{ section.settings.color_scheme.settings.ink }};
    --stroke: {{ section.settings.color_scheme.settings.stroke }};
    @apply bg-[var(--canvas)] text-[var(--ink)];
  }
</style>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "info": "At least one level of nesting for each top-level link recommended.",
      "default": "footer"
    }
  ]
}
{% endschema %}
