<div class="section">
  <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url }}.</p>
</div>

<style>
  #shopify-section-{{ section.id }} {
    --canvas: {{ section.settings.color_scheme.settings.canvas }};
    --ink: {{ section.settings.color_scheme.settings.ink }};
  }
</style>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "bg-canvas text-ink",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ]
}
{% endschema %}
