{%- liquid
  case request.page_type
    when 'collection'
      assign data = collection
    when 'product'
      assign data = product
    when 'page'
      assign data = page
    when 'blog'
      assign data = blog
    when 'article'
      assign data = article
    when 'index'
      assign data = shop
  endcase

  case section.settings.content_alignment
    when 'left'
      assign content_class = 'text-left mr-auto'
    when 'center'
      assign content_class = 'text-center mx-auto'
    when 'right'
      assign content_class = 'text-right ml-auto'
  endcase
-%}

<div
  class="text-center bg-center bg-cover"
  style="background-image: url({{ section.settings.image | default: data.image | image_url: width: 1600 }});"
>
  <div class="relative z-[1] section py-12 md:py-20" style="text-wrap: balance;">
    <div class="max-w-screen-sm rte {{ content_class }}">
      {%- if section.settings.content != blank -%}
        {{ section.settings.content }}

      {%- else -%}
        <h1>{{ data.title | default: data.name | default: page_title }}</h1>
        {%- unless data.description contains '<' -%}
          <p>{{ data.description }}</p>
        {%- else -%}
          {{ data.description }}
        {%- endunless -%}

      {%- endif -%}

      {% render 'cta-list' with section %}
    </div>
  </div>
</div>

<style type="text/tailwindcss">
  #shopify-section-{{ section.id }} {
    --canvas: {{ section.settings.color_scheme.settings.canvas }};
    --ink: {{ section.settings.color_scheme.settings.ink }};
    @apply bg-[var(--canvas)] text-[var(--ink)];
  }

  #shopify-section-{{ section.id }}::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: {{ section.settings.bg_opacity }};
    @apply bg-[var(--canvas)];
  }
</style>

{% schema %}
{
  "name": "Heading",
  "tag": "section",
  "class": "relative",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "label": "Background opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.5
    }
  ],
  "blocks": [
    {
      "type": "cta",
      "name": "Call-to-action",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "action",
              "label": "Action (primary)"
            },
            {
              "value": "action-secondary",
              "label": "Action (secondary)"
            },
            {
              "value": "ghost",
              "label": "Ghost button"
            },
            {
              "value": "hashtag",
              "label": "Hashtag"
            }
          ],
          "default": "action"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "presets": [
    {
      "name": "Heading",
      "settings": {
      }
    }
  ]
}
{% endschema %}
