<div class="section p-4">
  <div>
    <a href="{{ routes.root_url }}">{{ shop.name }}</a>
  </div>

  <nav>
    <a href="{{ routes.cart_url }}">
      Cart

      {%- if cart.item_count > 0 -%}
        ({{ cart.item_count }})
      {%- endif -%}
    </a>
  </nav>
</div>

<style>
  .header {
    background-color: {{ section.settings.color_scheme.settings.canvas }};
    color: {{ section.settings.color_scheme.settings.ink }};
  }
</style>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header sticky z-10 top-0",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ]
}
{% endschema %}
