<div class="header section grid gap-x-4 py-4">
  <div style="grid-area: logo;">
    <a class="font-heading" href="{{ routes.root_url }}">{{ shop.name }}</a>
  </div>

  {% render 'header-menu' %}

  <nav class="flex items-center gap-x-2 [&_svg]:w-[1.5em]" style="grid-area: actions;">
    <a href="{{ routes.search_url }}" title="Search">
      {% render 'icon' with 'search' %}
    </a>

    {%- if shop.customer_accounts_enabled -%}
      {%- if customer -%}
        <a href="{{ routes.account_url }}" title="Account">
          {% render 'icon' with 'customers' %}
        </a>
      {%- else -%}
        <a href="{{ routes.account_login_url }}" title="Log in">
          {% render 'icon' with 'customers' %}
        </a>
      {%- endif -%}
    {%- endif -%}

    <a class="relative" href="{{ routes.cart_url }}" title="Cart">
      {% render 'icon' with 'cart' %}
      {%- unless cart.empty? -%}
        <span
          class="
            absolute top-0 right-0 -translate-y-1/2 translate-x-1/2
            grid place-content-center rounded-full bg-primary
            {% if section.settings.show_cart_item_count and cart.item_count < 100 %}
              w-[1.3em] text-primary-contrasting text-xs
            {% else %}
              w-2 aspect-square text-[0px]
            {% endif %}
          "
          title="{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} in cart"
        >
          {{- cart.item_count -}}
        </span>
      {%- endunless -%}
    </a>
  </nav>
</div>

<style type="text/tailwindcss">
  .header {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'logo actions'
      'menu menu';
  }

  @screen md {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 'logo menu actions';
    }
  }

  #shopify-section-{{ section.id }} {
    --header-bg: {{ section.settings.color_scheme.settings.canvas }}dd;
    color: {{ section.settings.color_scheme.settings.ink }};
    @apply bg-[var(--header-bg)];
  }
</style>

<script defer>
  const header = document.querySelector('#shopify-section-{{ section.id }}')

  function setHeaderHeight() {
    document.documentElement.style.setProperty('--header-height', `${ header.offsetHeight }px`)
  }
  setHeaderHeight()
  document.addEventListener('resize', setHeaderHeight)
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "sticky z-10 top-0 backdrop-blur",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "show_cart_item_count",
      "label": "Show cart item count",
      "info": "Disable to show a dot indicator when the cart has items",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "megamenu",
      "name": "Megamenu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Makes the linklist with the same title a full-width megamenu"
        }
      ]
    },
    {
      "type": "featured_link",
      "name": "Featured link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Makes megamenu links with the same title stylized"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
