<input id="header-menu-opened" type="checkbox" hidden>

<div class="header section grid gap-x-4 py-0 <md:max-h-[100dvh] <md:overflow-y-auto">
  <div style="grid-area: logo;" class="flex items-center gap-4 sticky top-0 z-[1] <md:py-4 transition-colors">
    {{ shop.name | link_to: routes.root_url, class: 'font-heading' }}

    <label for="header-menu-opened" class="with-icon ml-auto md:hidden" title="Toggle header menu">
      <span class="toggle-open">{% render 'icon' with 'mobile-hamburger' %}</span>
      <span class="toggle-close">{% render 'icon' with 'cancel' %}</span>
    </label>
  </div>

  {% render 'header-menu' %}
  {% render 'header-actions' %}
</div>

<style type="text/tailwindcss">
  #shopify-section-{{ section.id }} {
    --canvas: {{ section.settings.color_scheme.settings.canvas }};
    --canvas-opacity: {{ section.settings.color_scheme.settings.canvas }}dd;
    --ink: {{ section.settings.color_scheme.settings.ink }};
    @apply bg-[var(--canvas-opacity)] text-[var(--ink)] transition-colors;
  }
  #shopify-section-{{ section.id }}:has([open]) {
    @apply bg-[var(--canvas)];
  }

  @screen md {
    .megamenu-contents, .dropdown-contents {
      border-radius: var(--border-radius);
      @apply absolute top-full bg-[var(--canvas)] shadow-xl;
    }
  }

  @screen <md {
    #header-menu-opened:checked ~ .header {
      @apply bg-[var(--canvas)] shadow-xl;
    }

    #header-menu-opened:checked ~ .header [style*="logo"] {
      @apply bg-[var(--canvas)];
    }

    #header-menu-opened:checked ~ .header .toggle-open,
    #header-menu-opened:not(:checked) ~ .header :is(.toggle-close, [style*="actions"], [style*="menu"]) {
      display: none;
    }

    .megamenu-contents, .dropdown-contents {
      @apply my-1 py-1 pl-3 border-l border-stroke;
    }
  }

  .header {
    grid-template-areas: 'logo' 'menu' 'actions';
  }

  @screen md {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 'logo menu actions';
    }
  }
</style>

<script defer>
  (function(){
    const header = document.querySelector('#shopify-section-{{ section.id }}')

    function setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${ header.offsetHeight }px`)
    }
    setHeaderHeight()
    document.addEventListener('resize', setHeaderHeight)

    // header menus events
    const headerMenus = header.querySelectorAll('[style*="menu"] details')
    function updateHeaderMenuEvents() {
      if (window.matchMedia('(min-width: 768px)').matches) {
        headerMenus.forEach(menu => {
          menu.addEventListener('mouseenter', () => menu.setAttribute('open', ''))
          menu.addEventListener('mouseleave', () => menu.removeAttribute('open'))
        })
      }
    }
    updateHeaderMenuEvents()

    window.addEventListener('resize', updateHeaderMenuEvents)
  })()
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "sticky z-10 top-0 backdrop-blur",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "show_cart_item_count",
      "label": "Show cart item count",
      "info": "Disable to show a dot indicator when the cart has items",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "megamenu",
      "name": "Megamenu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Makes the linklist with the same title a full-width megamenu"
        }
      ]
    },
    {
      "type": "featured_link",
      "name": "Featured link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Makes megamenu links with the same title stylized"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
