<header class="rte {{ section.settings.tailwind | default: 'text-center' }}">
  {%- if section.settings.content != blank -%}
    {{ section.settings.content }}
  {%- else -%}
    <h1>{{ page_title }}</h1>
  {%- endif -%}
  </header>

{% paginate collections by section.settings.page_size %}
  <ul class="item-grid" style="--size: {{ section.settings.grid_item_size }}px;">
    {%- for collection in collections -%}
      {%- render 'collection-item', collection: collection -%}
    {%- endfor -%}
  </ul>

  {%- if paginate.pages > 1 -%}
    <nav class="pagination">{{ paginate | default_pagination }}</nav>
  {%- endif -%}
{% endpaginate %}

{% schema %}
{
  "name": "List collections",
  "tag": "section",
  "class": "section grid gap-12",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "html",
      "id": "tailwind",
      "label": "Tailwind classes",
      "info": "Default: \"text-center\""
    },
    {
      "type": "header",
      "content": "Collections"
    },
    {
      "type": "range",
      "id": "grid_item_size",
      "label": "Grid item size",
      "unit": "px",
      "min": 100,
      "max": 350,
      "step": 10,
      "default": 180
    },
    {
      "type": "number",
      "id": "page_size",
      "label": "Collections per page",
      "default": 12
    }
  ]
}
{% endschema %}
