<div class="section text-center">
  {%- if section.settings.content -%}
    <header class="mb-8 rte">
      {{ section.settings.content }}
    </header>
  {%- endif -%}

  {% render 'newsletter-form'
    id: section.id
    class: 'max-w-sm mx-auto grid grid-cols-[1fr,auto] gap-2 items-end'
    submit_label: section.settings.submit_label
  %}
</div>

<style type="text/tailwindcss">
  #shopify-section-{{ section.id }} {
    --canvas: {{ section.settings.color_scheme.settings.canvas }};
    --ink: {{ section.settings.color_scheme.settings.ink }};
    --stroke: {{ section.settings.color_scheme.settings.stroke }};
    @apply bg-[var(--canvas)] text-[var(--ink)];
  }
</style>

{% schema %}
{
  "name": "Newsletter form",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<h2>Subscribe to our newsletter</h2>"
    },
    {
      "type": "header",
      "content": "Form"
    },
    {
      "type": "text",
      "id": "submit_label",
      "label": "Submit label"
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "presets": [
    {
      "name": "Newsletter form",
      "settings": {
        "content": "<h2>Subscribe to our newsletter</h2>"
      }
    }
  ]
}
{% endschema %}
