<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

<div class="section grid md:grid-cols-2 items-start gap-8">
  <figure>
    <div class="swiper">
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          {%- case media.media_type -%}
            {%- when 'image' -%}
              {%- assign image = product.images[forloop.index0] -%}

              <div class="swiper-slide" data-variant-id="{{ image.variants[0].id }}">
                {{ image
                  | image_url: width: 800, height: 800
                  | image_tag: class: 'w-full object-cover', loading: 'lazy'
                }}
              </div>

          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </figure>

  <div class="grid gap-2">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'title' -%}
          <h1 class="h1">{{ product.title }}</h1>
        {%- when 'vendor' -%}
          <p class="technical text-xs">{{ product.vendor }}</p>
        {%- when 'price' -%}
          <p>{{ product.price | money }}</p>
      {%- endcase -%}
    {%- endfor -%}

    {% form 'product', product, class: 'grid gap-2' %}
      {%- if product.has_only_default_variant -%}
        <input name="id" value="{{ product.selected_or_first_available_variant.id }}" hidden>

      {%- else -%}
        <select name="id" hidden>
          {%- for variant in product.variants -%}
            <option
              value="{{ variant.id }}"
              {% if variant == product.selected_or_first_available_variant %}selected{% endif %}
              {% if variant.option1 %}data-option1="{{ variant.option1 }}"{% endif %}
              {% if variant.option2 %}data-option2="{{ variant.option2 }}"{% endif %}
              {% if variant.option3 %}data-option3="{{ variant.option3 }}"{% endif %}
            >
              {{ variant.title }} — {{ variant.price | money }}

              {% if section.settings.show_inventory_quantity -%}
                ({{ variant.inventory_quantity }} left)
              {%- endif -%}
            </option>
          {%- endfor -%}
        </select>

        {%- for product_option in product.options_with_values -%}
          <fieldset>
            <legend class="technical">{{ product_option.name }}</legend>

            {%- for value in product_option.values -%}
              <label>
                <input
                  class="product-options"
                  name="option{{ product_option.position }}"
                  value="{{ value }}"
                  type="radio"
                  {% if product_option.selected or forloop.index0 == 0 %}checked{% endif %}
                />
                {{ value }}
              </label>
            {%- endfor -%}
          </fieldset>
        {%- endfor -%}
      {%- endif -%}

      <label>
        <span class="technical">Quantity</span>
        <input class="text-center" name="quantity" value="1" min="1" type="number" required />
      </label>

      <p>
        <button class="action" type="submit">Buy now</button>
      </p>
    {% endform %}
  </div>
</div>

<script type="module" defer>
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs'

  const swiper = new Swiper('#shopify-section-{{ section.id }} .swiper', {

  })

  const productForm = document.querySelector('#shopify-section-{{ section.id }} form')
  const variantSelector = productForm.querySelector('[name="id"]')

  if (!!variantSelector) {
    const selectedOptions = variantSelector?.selectedOptions[0].dataset
    for (const [key, value] of Object.entries(selectedOptions)) {
      const option = productForm.querySelector(`[name="${ key }"][value="${ value }"]`)
      if (!!option) option.checked = true
    }

    productForm.addEventListener('input', () => {
      const formData = new FormData(productForm)

      const selector = Array.from(formData.keys())?.reduce((acc, key) => {
        if (/option[123]/g.test(key)) {
          acc += `[data-${ key }="${ formData.get(key) }"]`
        }
        return acc
      }, 'option')

      const newValue = productForm.querySelector(selector)?.value
      if (!!newValue) {
        variantSelector.value = newValue
      }

      console.log(formData)

      const variantImage = document.querySelector(`[data-variant-id="${ newValue }"]`)
      if (!!variantImage) {
        const index = Array.from(variantImage.parentNode.children).indexOf(variantImage)
        swiper.slideTo(index)
      }
    })
  }
</script>

{% schema %}
{
  "name": "Product",
  "tag": "article",
  "class": "section-product",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "Show inventory quantity",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Title"
        }
      ]
    },
    {
      "name": "Vendor",
      "type": "vendor",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Vendor"
        }
      ]
    },
    {
      "name": "Price",
      "type": "price",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Price"
        }
      ]
    }
  ]
}
{% endschema %}
