{%- liquid
  assign items = section.blocks | where: 'type', 'item' | map: 'settings'

  case section.settings.content_align
    when 'left'
      assign content_class = 'text-left [&_img]:mr-auto'
    when 'center'
      assign content_class = 'text-center [&_img]:mx-auto'
    when 'right'
      assign content_class = 'text-right [&_img]:ml-auto'
  endcase
-%}

<div class="section">
  {%- if section.settings.content != blank -%}
    <header class="mb-8 text-center rte">
      {{ section.settings.content }}
    </header>
  {%- endif -%}

  <ul class="
    carousel md:grid gap-4 md:gap-8 items-stretch <md:full-width <md:px-4 <md:pb-4
    grid-cols-{{ section.settings.columns }} {{ content_class }}
  ">
    {%- for item in items -%}
      <li class="h-full rte" style="border-radius: var(--border-radius);">
        {%- if item.icon -%}
          <figure class="[&>*]:max-h-[var(--icon-height)]">
            {{ item.icon
              | image_url: height: 80
              | image_tag: class: 'w-auto', loading: 'lazy'
            }}
          </figure>
        {%- endif -%}

        {{ item.content }}
      </li>
    {%- endfor -%}
  </ul>
</div>

<style type="text/tailwindcss">
  {% if section.settings.color_items %}
    #shopify-section-{{ section.id }} li {
      --canvas: {{ section.settings.color_scheme.settings.canvas }};
      --ink: {{ section.settings.color_scheme.settings.ink }};
      --icon-height: {{ section.settings.icon_height }}px;
      @apply p-4 bg-[var(--canvas)] text-[var(--ink)];
    }
  {% else %}
    #shopify-section-{{ section.id }} {
      --canvas: {{ section.settings.color_scheme.settings.canvas }};
      --ink: {{ section.settings.color_scheme.settings.ink }};
      --icon-height: {{ section.settings.icon_height }}px;
      @apply bg-[var(--canvas)] text-[var(--ink)];
    }
  {% endif %}

</style>

{% schema %}
{
  "name": "Text and icon",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "checkbox",
      "id": "color_items",
      "label": "Apply color scheme to items",
      "default": false
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<h2>Why choose us?</h2>"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Text align",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "Columns",
      "min": 1,
      "max": 5,
      "default": 3
    },
    {
      "type": "range",
      "id": "icon_height",
      "label": "Icon height",
      "min": 10,
      "max": 150,
      "step": 10,
      "unit": "px",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<h3>Feature</h3><p>Feature description</p>"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "presets": [
    {
      "name": "Text and icon",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "content": "<h3>Feature 1</h3><p>Feature 1 description</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "content": "<h3>Feature 2</h3><p>Feature 2 description</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "content": "<h3>Feature 3</h3><p>Feature 3 description</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
